.c-flatBtn {
  background: white;
  cursor: pointer;
  display: block;
  font-size: $font-size_m;
  padding: $space_s;
  border: 1px solid $color_sub2;
  border-radius: $radius_s;
  transition: $time_s;
  &:hover {
    color: white;
    border: 1px solid $color_main;
    background: $color_main;
  }
  &--bookmark {
    &:hover {
      color: white;
      background: $color_main;
      border: 1px solid $color_main;
    }
  }
  &--isBookmarked {
    color: white;
    background: $color_main;
    border: 1px solid $color_main;
  }
  &--twitter {
    color: $twitter;
    &:hover {
      color: white;
      background: $twitter;
      border: 1px solid $twitter;
    }
  }
}