.l-footer {
  background: $color_sub2;
  color: white;
  margin-top: auto;
  min-height: 100px;
  &__body {
    padding: $space_xl;
    text-align: center;
    @include mq() {
      padding: $space_xl $space_default;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $space_default;
  }
  &__item {
    color: white;
    font-size: $font-size_xl;
    margin: 0 $space_s;
    &:hover {
      color: white;
    }
  }
  &__text {
    font-size: $font-size_m;
    @include mq() {
      font-size: $font-size_s;
    }
  }
}